@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
@font-face { font-family: 'NotoKufiArabic-Regular';
  src: url('fonts/NotoKufiArabic-Regular.ttf');}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NotoKufiArabic-Regular'; 
  text-decoration: none;
  list-style: none;
}

body{
  background-color: #30336b;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.pricing-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 90%);
  margin: auto;
}

.pricing-card{
  flex: 1;
  max-width: 360px;
  background-color: #fff;
  margin: 5px 40px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  transition: .3s linear;
}

.pricing-card-header{
  background-color: #0fbcf9;
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
  box-shadow: 0 0 0 26em #0fbcf9;
}

.price{
  font-size: 70px;
  color: #0fbcf9;
  margin: 40px 0;
  transition: .2s linear;
}

.price sup, .price span{
  font-size: 22px;
  font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price{
  color: #fff;
}

.pricing-card li{
  font-size: 16px;
  padding: 10px 0;
  text-transform: uppercase;
}

.order-btn{
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 80px;
  border: 2px solid #0fbcf9;
  color: #0fbcf9;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
}

.order-btn:hover{
  background-color: #0fbcf9;
  color: #fff;
}

@media screen and (max-width:1100px){
  .pricing-card{
    flex: 50%;
  }
}

.PrCard1{
  width: 300px;
  background: #fff;
  border-radius: 16px;
  padding: 30px 30px 30px 30px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  margin-bottom: 30px;
}
.PrCard1 header{
  height: 55px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  position: relative;
}
header label{
  height: 100%;
  z-index: 2;
  width: 30%;
  display: flex;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}
#tab-1:checked ~ header .tab-1,
#tab-2:checked ~ header .tab-2,
#tab-3:checked ~ header .tab-3,
#tab-4:checked ~ header .tab-4,
#tab-5:checked ~ header .tab-5,
#tab-6:checked ~ header .tab-6
#tab-7:checked ~ header .tab-7,
#tab-8:checked ~ header .tab-8,
#tab-9:checked ~ header .tab-9
#tab-10:checked ~ header .tab-10,
#tab-11:checked ~ header .tab-11,
#tab-12:checked ~ header .tab-12{ 
  color: #fff;
}
header label:nth-child(2){
  width: 40%;
}
header .slider{
  position: absolute;
  height: 85%;
  border-radius: inherit;
  background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
  transition: all 0.3s ease;
}
#tab-1:checked ~ header .slider{
  left: 0%;
  width: 65px;
  transform: translateX(5%);
}
#tab-2:checked ~ header .slider{
  left: 50%;
  width: 88px;
  transform: translateX(-50%);
}
#tab-3:checked ~ header .slider{
  left: 100%;
  width: 65px;
  transform: translateX(-105%);
}
#tab-4:checked ~ header .slider{
  left: 0%;
  width: 65px;
  transform: translateX(5%);
}
#tab-5:checked ~ header .slider{
  left: 50%;
  width: 88px;
  transform: translateX(-50%);
}
#tab-6:checked ~ header .slider{
  left: 100%;
  width: 65px;
  transform: translateX(-105%);
}
#tab-7:checked ~ header .slider{
  left: 0%;
  width: 65px;
  transform: translateX(5%);
}
#tab-8:checked ~ header .slider{
  left: 50%;
  width: 88px;
  transform: translateX(-50%);
}
#tab-9:checked ~ header .slider{
  left: 100%;
  width: 65px;
  transform: translateX(-105%);
}
#tab-10:checked ~ header .slider{
  left: 0%;
  width: 65px;
  transform: translateX(5%);
}
#tab-11:checked ~ header .slider{
  left: 50%;
  width: 88px;
  transform: translateX(-50%);
}
#tab-12:checked ~ header .slider{
  left: 100%;
  width: 65px;
  transform: translateX(-105%);
}
.PrCard1 input[type="radio"]{
  display: none;
}
.card-area{
  overflow: hidden;
}
.card-area .cards{
  display: flex;
  width: 300%;
}
.cards .row{
  width: 33.4%;
}
.cards .row-1{
  transition: all 0.3s ease;
}
.cards .row-2{
  transition: all 0.3s ease;
}
#tab-1:checked ~ .card-area .cards .row-1{
   margin-left: 0%;
}
#tab-2:checked ~ .card-area .cards .row-1{
  margin-left: -33.4%;
}
#tab-3:checked ~ .card-area .cards .row-1{
   margin-left: -66.8%;
}
#tab-4:checked ~ .card-area .cards .row-2{
  margin-left: 0%;
}
#tab-5:checked ~ .card-area .cards .row-2{
 margin-left: -33.4%;
}
#tab-6:checked ~ .card-area .cards .row-2{
  margin-left: -66.8%;
}
#tab-7:checked ~ .card-area .cards .row-1{
  margin-left: 0%;
}
#tab-8:checked ~ .card-area .cards .row-1{
 margin-left: -33.4%;
}
#tab-9:checked ~ .card-area .cards .row-1{
  margin-left: -66.8%;
}
#tab-10:checked ~ .card-area .cards .row-1{
  margin-left: 0%;
}
#tab-11:checked ~ .card-area .cards .row-1{
 margin-left: -33.4%;
}
#tab-12:checked ~ .card-area .cards .row-1{
  margin-left: -66.8%;
}
.row .price-details{
  margin: 20px 0;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}
.price-details .price{
  font-size: 65px;
  font-weight: 600;
  position: relative;
  font-family: 'Noto Sans', sans-serif;
}
.price-details .price::before,
.price-details .price::after{
  position: absolute;
  font-weight: 400;
  font-family: 'NotoKufiArabic-Regular'; 
}
.price-details .price::before{
  content: "سنوياً/";
  left: -45px;
  bottom: 17px;
  font-size: 16px;

}

.price-details .price2::before{
  content: "شهرياً/";
  left: -48px;
  bottom: 17px;
  font-size: 16px;

}

.price-details .price3::before{
  content: "أسبوعياً/";
  left: -45px;
  bottom: 17px;
  font-size: 16px;

}

.price-details .price4::before{
  content: "يومياً/";
  left: -45px;
  bottom: 17px;
  font-size: 16px;

}

.price-details .price::after{
  content: "L.E";
  right: -35px;
  top: 17px;
  font-size: 20px;
}
.price-details p{
  font-size: 18px;
  margin-top: 5px;
}
.row .features li{
  display: block;
  font-size: 15px;
  list-style: none;
  margin-bottom: 10px;
  align-items: center;
  text-align: right;
}
.features li i{
  background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
  background-clip: text;
  float: right;
  margin-top: 5px;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.features li span{
  margin-right: 20px;
}
.PrCard1 button{
  width: 100%;
  border-radius: 25px;
  border: none;
  outline: none;
  height: 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
  transition: transform 0.3s ease;
}
.PrCard1 button:hover{
  transform: scale(0.98);
}

.arMar {
  text-align: right;
  color: #77A5F8;
}